@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

